.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-card {
  width: 100%;
}

.features-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .features-card {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-card {
    width: calc((100% - 72px) / 4);
  }

  .features-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
  }
}
